{% extends 'base.html' %}

{% block content %}

    <h2 class="text-4xl text-pink-800 mb-8">Details about {{ snack.name }}</h2>
    <h2>Reviewer: {{ snack.reviewer }}</h2>
    <h2>{{ snack.definition }}</h2>
    <p class="mt-8"><a href="{% url 'snack_update' snack.pk %}">+ Update Snack</a></p>
    <p><a href="{% url 'snack_delete' snack.pk %}">- Delete Snack</a></p>

    <a class="border-2 border-cyan-400 bg-cyan-400 px-8 mt-8 rounded-md" href="{% url 'snack_list' %}">Home</a>


{%  endblock content %}